.button {
    display: inline-block;
    border: 3px solid black;
    outline: 0;
    height: 34px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
    text-decoration: none;
}

.button:disabled {
    color: orangered;
    display: inline-block;
    border: 3px solid black;
    outline: 0;
    height: 34px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
}
